.CanvasWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.CanvasClipWrap {
  // width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.CanvasClip {
  // width: 400px;
  // height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}